@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Quicksand:wght@300&family=Roboto+Mono&display=swap');

html {
    max-width: 550px;
    margin: 0 auto;
    padding: 50px;
    font-family: 'Roboto Mono', monospace;
}

header {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 160px 1fr;
    background-color: #03192a;
    height: 200px;
}

h3 {
    color: rgb(255, 0, 0);
}

main p {
    margin-top: 0;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.down {
    margin-bottom: 0;
}

img {
    max-width: 80%;
    max-height: 80%;
    align-self: center;
    justify-self: center;
    margin-left: 40px;
    padding: 4px;
    background-color: rgb(233, 229, 229);
    /* border-radius: 20px; */
    /* border: 2px solid #F3AAA5; */
}

h2 {
    align-self: end;
    justify-self: center;
    padding-left: 1rem;
    color: #ecdf7b;
    font-family: 'Ms Madi', cursive;
    font-size: 1.5rem;
}

ul {
    margin: 0;
}

footer {
    background-color: #03192a;
    padding: 5px;
}

.footer-para {
    text-align: center;
    color: #4ca2e8;
    margin: 0;
    padding: 5px;
}
.footer-para .last {
    color: #3d80f5;
    margin: 0;
    padding: 5px;
}