@media only screen and (min-width: 32.5em) {
    .cards {
        grid-template-columns: repeat(2, minmax(320px, 1fr));
        grid-gap: 10px;
        margin: 10px;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    p {
        font-family: 'Righteous', cursive;
        font-size: 1rem;
    }

    footer p {
        font-size: 1rem;
    }
}