@media only screen and (max-width: 32.5em) {

    body p {
        font-size: .8rem;
    }

    .logo {
        display: inline-block;
        left: 3.5rem;
        top: 1.3rem;
    }

    .logo img {
        width: 20%;
    }

    .logo h1 {
        font-size: .9rem;
    }

    .social img {
        width: 1.6rem;
    }

    img.soc-img1{
        margin-right: 3px;
    }

    div.social p a img.soc-img2{
        margin-left: 3px;
    }

    .social {
        top: 2.8rem;
        right: 7px;
    }

    header nav {
        position: absolute;
        left: .5rem;
        top: 5.5rem;
    }
    
    header nav ul {
        display: none;
    }
    
    header button {
        display: block;
        background-color: transparent;
        color: #EBFFFE;
        font-size: 2rem;
        border: 1px solid #888;
        padding: .2rem .3rem;
        cursor: pointer;
    }

    header button :nth-child(2){
        display: none;
    }

    header nav ul.menu {
        display: block;
        border-top: 1px solid #999;
        width: 90vw;
        background: #000;
        filter: alpha(opacity=20); 
        position: absolute;
        top: 6.4rem;
        left: 0;
        z-index: 2;
    }

    header nav ul.menu li {
        text-align: center;
        padding: .4rem 0;
        border-bottom: 1px solid #999;
    }

    header nav ul.menu a {
        font-size: 1rem;
    }

    /* .navigation nav button {
        font-size: 1.5rem;
        padding: 5px;
        left: 1.2rem;
        bottom: 2rem; */
    

    .first{
        margin: 10px auto;
        width: 85%;
        grid-template-rows: 250px 250px 250px 300px 600px;
        grid-row-gap: 10px;
    }

    .hero {
        grid-row: 1/2;
    }

    .hero h2 {
        position: absolute;
        padding: 20px;
        font-size: 1.2rem;
        margin: 0;
    }

    .hero button {
        font-size: .8rem;
        bottom: 20px;
        right: 20px;
    }

    .hero button:hover {
        bottom: 22px;
        right: 22px;
    }

    .events {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .weathers {
        grid-column: 1/-1;
        grid-row: 3/4;
        margin-right: 30px;
        margin-left: 30px;
    }

    .weathers :nth-child(2){
        text-align: center;
    }

    .weathers span.cloud {
        font-size: 2.5rem;
    }

    .weathers span.windFactor {
        font-size: .8rem;
    }

    .weathers span.wind {
        font-size: .8rem;
    }

    .news {
        grid-row: 4/5;
        height: 93%;
        margin: 0;
    }

    .spot {
        grid-row: 5/6;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .join {
        display: none;
    }

    footer {
        display: block;
        text-align: center;
    }
    
    footer img {
        margin: 0 auto;
    }

    footer :nth-child(4) {
        line-height: 1.2rem;
    }

   

    .discover img {
        max-width: 180px;
        max-height: 250px;
    }

    .discover img:hover {
        max-width: 180px;
        max-height: 250px;
    }

    .discover p {
        font-size: .7rem;
    }

    .discover h2 {
        font-size: 1.1rem;
    }

    .discover .fish img {
        border-radius: 0;
        padding: 0;
    }

    .discover .water img {
        border-radius: 0;
        padding: 0;
        max-height: 250px;
        max-width: 180px;
    }

    .discover .nice img {
        border-radius: 0;
        padding: 0;
        max-height: 250px;
        max-width: 180px;
    }

    .discover .prom img {
        border-radius: 0;
        padding: 0;
        max-width: 180px;
        max-height: 250px;
    }

    .discover .cred img {
        border-radius: 0;
        padding: 0;
        max-width: 180px;
        max-height: 250px;
    }

    .discover .fish img:hover {
        border-radius: 0;
        padding: 0;
        max-width: 180px;
        max-height: 250px;
        box-shadow: none;
    }

    .discover .water img:hover {
        border-radius: 0;
        padding: 0;
        max-height: 250px;
        max-width: 180px;
        box-shadow: none;
    }

    .discover .nice img:hover {
    box-shadow: none;
        border-radius: 0;
        padding: 0;
        max-width: 180px;
        max-height: 250px;
        box-shadow: none;
    }

    .discover .prom img:hover {
        border-radius: 0;
        padding: 0;
        max-width: 180px;
        max-height: 250px;
        box-shadow: none;
    }

    .discover .cred img:hover {
        border-radius: 0;
        padding: 0;
        max-width: 180px;
        max-height: 250px;
        box-shadow: none;
    }
    
    main.join {
        display: block;
    }

    main.thankYou h1 {
        font-size: 2rem;
        line-height: 2.6rem;
    }
    
    main.thankYou p {
        font-size: 1rem;
    }

    .join .join-page, .join .about {
        width: 80%;
        margin: .5rem auto;
    }

    form .entry input, form .entry textarea {
        max-width: 95%;
        padding: .5rem;
    }

    form .entry .joBtn {
        width: 50%;
    }
    
    .join .about h4 {
        border: 2px dashed rgb(255, 0, 0);
        padding: .2rem;
        font-size: 1.2rem;
        background-color: rgba(0, 0, 0, 0.4);
    }

    main.directory div.btn button {
        width: 5rem;
        padding: 10px 0;
        margin: 10px 30px;
        border-radius: 10px;
    }
    
    main.directory button:hover {
        background-color: #222;
        width: 10.5rem;
        margin: 0 26px;
    }
    
    main.directory div.btn {
        padding: .3rem;
    }

    main.directory article.cards {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        width: 90%;
        margin: 10px auto;
    }

    main.directory article.list section h3 {
        font-size: 1rem;
    }

    main.directory article.list section p:nth-child(4){
        display: none;
    }

    main.directory article.list section p:nth-child(6){
        display: none;
    }

    main.directory article.list section {
        padding: .3rem .8rem;
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;
        background-color: #012536;
        box-shadow: 5px 5px 10px #000;
        width: 90%;
    }

    main.directory article.list section {
        width: 90%;
    }

    main.directory article.list section h3 {
        flex-basis: 70%;
    }
    
    main.directory article.list section p, 
    main.directory article.list section a {
        flex-basis: 30%;
        font-size: .7rem;
    }

    main.directory article.list section p {
        padding-top: 7px;
        color: #fff;
    }
    
    main.directory article.list section a {
        padding-top: 17px;
        color: aqua;
    }
}
