@media only screen and (max-width: 32.5em) {

    body p {
        font-size: .8rem;
    }

    .logo {
        grid-template-columns: 100px 1fr;
        left: 3.5rem;
        top: 0;
    }

    .logo img {
        width: 100%;
    }

    .logo h1 {
        font-size: .9rem;
    }

    .social img {
        width: 1.8rem;
    }

    img.soc-img1{
        margin-right: 3px;
    }

    div.social p a img.soc-img2{
        margin-left: 3px;
    }

    .social {
        top: 2rem;
    }

    .navigation nav button {
        font-size: 1.5rem;
        padding: 5px;
        left: 1.2rem;
        bottom: 2rem;
    }

    .first{
        width: 85%;
        grid-template-rows: 250px 250px 250px 300px 600px;
    }

    .hero {
        grid-row: 1/2;
    }

    .hero button {
        font-size: .8rem;
        bottom: 20px;
        right: 20px;
    }

    .hero button:hover {
        bottom: 22px;
        right: 22px;
    }

    .events {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .weathers {
        grid-column: 1/-1;
        grid-row: 3/4;
        margin-right: 30px;
        margin-left: 30px;
    }

    .weathers :nth-child(2){
        text-align: center;
    }

    .news {
        grid-row: 4/5;
    }

    .spot {
        grid-row: 5/6;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .join {
        display: none;
    }

    footer {
        display: block;
        text-align: center;
    }
    
    footer img {
        margin: 0 auto;
    }

    footer :nth-child(4) {
        line-height: 1.2rem;
    }
}