@media only screen and (max-width: 32.5em) {

    body p {
        font-size: .8rem;
    }

    .logo {
        grid-template-columns: 60px 1fr;
        left: 3.5rem;
        top: 1rem;
    }

    .logo img {
        width: 100%;
    }

    .logo h1 {
        font-size: .9rem;
    }

    .social img {
        width: 1.6rem;
    }

    img.soc-img1{
        margin-right: 3px;
    }

    div.social p a img.soc-img2{
        margin-left: 3px;
    }

    .social {
        top: 2rem;
        right: 7px;
    }

    .navigation nav button {
        font-size: 1.5rem;
        padding: 5px;
        left: 1.2rem;
        bottom: 2rem;
    }

    .first{
        margin: 10px auto;
        width: 85%;
        grid-template-rows: 250px 250px 250px 300px 600px;
        grid-row-gap: 10px;
    }

    .hero {
        grid-row: 1/2;
    }

    .hero h2 {
        position: absolute;
        padding: 20px;
        font-size: 1.2rem;
        margin: 0;
    }

    .hero button {
        font-size: .8rem;
        bottom: 20px;
        right: 20px;
    }

    .hero button:hover {
        bottom: 22px;
        right: 22px;
    }

    .events {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .weathers {
        grid-column: 1/-1;
        grid-row: 3/4;
        margin-right: 30px;
        margin-left: 30px;
    }

    .weathers :nth-child(2){
        text-align: center;
    }

    .weathers span.cloud {
        font-size: 2.5rem;
    }

    .weathers span.windFactor {
        font-size: .8rem;
    }

    .weathers span.wind {
        font-size: .8rem;
    }

    .news {
        grid-row: 4/5;
        height: fit-content;
        margin: 0;
    }

    .spot {
        grid-row: 5/6;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }

    .join {
        display: none;
    }

    footer {
        display: block;
        text-align: center;
    }
    
    footer img {
        margin: 0 auto;
    }

    footer :nth-child(4) {
        line-height: 1.2rem;
    }
}