body {
    background-image: url('/homepage/images/pattern.jpg');
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    background-image: url('/homepage/images/pattern.jpg');
    margin: 0 auto;
    width: 95%;
}

/* =====HEADER===== */

h1, h2, h3, h4 {
    font-family: 'Tapestry', cursive;
}

header {
    background-color: #000;
    color: #EBFFFE;
    position: relative;
    padding-bottom: 5px;
}

header a {
    text-decoration: none;
    color: #EBFFFE;
}

nav {
    position: absolute;
    left: 35%;
    top: 5.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    width: 35%;
    font-size: 1.25rem;
}

ul li a {
    text-decoration: none;
    color: #EBFFFE;
    margin: 0;
    padding: 10px;
}

ul li a:hover {
    background-color: #EBFFFE;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

header button {
    display: none;
}

h1 {
    display: inline-block;
}

.logo {
    display: inline-block;
    padding: 1.25rem;
}

.social {
    display: flex;
    position: absolute;
    top: 6.5rem;
    right: 4.75rem;
}

.social img {
    border-radius: 50px;
    margin: 20px;
}

.date p {
    text-align: center;
}

main {
    background-image: url('/homepage/images/pattern.jpg');
}

.first {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 18.75rem);
    grid-gap: 20px;
    width: 90%;
    margin: 20px auto;
    background-color: steelblue;
    padding: 20px;
    /* box-shadow: 5px 5px 5px 5px 5px #000; */
}

.events {
    background-color: darkblue;
    color: #EBFFFE;
    grid-column: 1 / 2;
    grid-row: 1/2;
    padding: 10px;
    display: grid;
    text-align: center;
}

.hero {
    grid-column: 2/3;
    grid-row: 1/3;
    position: relative;
}

.hero img {
    width: 100%;
    position: absolute;
    height: 100%;
}

.hero h2 {
    position: absolute;
    padding: 20px;
}

.hero button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    padding: 10px;
    background-color: firebrick;
    color: #EBFFFE;
    border: 2px solid #EBFFFE;
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
    border-radius: 20px;
}

.hero button:hover {
    background-color: #182b77;
    color: #EBFFFE;
    border-radius: 30px;
    right: 45px;
    bottom: 45px;
}

.spot {
    grid-column: 3/4;
    grid-row: 1/-1;
    background-color: darkblue;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    padding: 20px;
}

.weathers {
    background-color: darkblue;
    color: #EBFFFE;
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
}

.weathers .cloud {
    font-size: 5rem;
}

.weathers :nth-child(2) {
    font-size: 1.5rem;
    text-align: left;
}


.weathers span:nth-child(2) {
    font-size: 2.5rem;
}

.weathers p.temperature {
    font-size: 2.5rem;
    margin: 0;
}

.weathers span.degOrFahr {
    font-size: 2.5rem;
    border: none;
}

.weathers span.fahr {
    font-size: 1.2rem;
}

.weathers :nth-child(3){
    font-size: 1.2rem;
    border-bottom: 1px solid #444;
    text-align: right;
    margin-bottom: 0;
}

.weathers :nth-child(4){
    padding-top: 10px;
    margin: 0;
}

.weathers :nth-child(5){
    padding-bottom: 5px;
    margin: 0;
}

.weathers{
    text-align: center;
}

.join {
    background-color: darkblue;
    color: #EBFFFE;
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 10px;
    position: relative;
}

.join button {
    width: 80%;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 1rem;
    right: 2rem;
    background-color: orangered;
    color: #EBFFFE;
    font-size: 1.5rem;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #000;
    cursor: pointer;
}

.join button:hover {
    padding: 40px;
    background-color: #EBFFFE;
    color: orangered;
    top: .5rem;
    font-weight: bold;
}

.join p {
    position: absolute;
    bottom: 10px;
    line-height: 1.5rem;
    text-align: center;
}

.news {
    background-color: darkblue;
    color: #EBFFFE;
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
    text-align: center;
    line-height: 1.5rem;
}

.spot1 {
    background-color: darkblue;
    color: #EBFFFE;
    border: 2px solid #444;
    box-shadow: 5px 5px 5px #000;
    padding: 10px;
    text-align: center;
}

.spot1 :nth-child(1){
    margin: 0;
}

.spot1 :nth-child(2){
    font-size: 5rem;
    text-align: center;
    margin: 0;
}

.spot1 :nth-child(5){
    line-height: 1.5rem;
    margin: 0;
}

.spot2 {
    background-color: darkblue;
    color: #EBFFFE;
    border: 2px solid #444;
    box-shadow: 5px 5px 5px #000;
    padding: 10px;
    text-align: center;
}

.spot2 :nth-child(1){
    margin: 0  auto;
}

.spot2 :nth-child(2) {
    font-size: 5rem;
    margin: 0;
}

.spot2 :nth-child(3){
    line-height: 1.5rem;
    margin: 0 auto;
}

.spot2 :nth-child(5) {
    line-height: 1.5rem;
    margin: 0 aut0;
}

.spot3 {
    background-color: darkblue;
    color: #EBFFFE;
    border: 2px solid #444;
    box-shadow: 5px 5px 5px #000;
    padding: 10px;

    text-align: center;
}

.spot3 :nth-child(1){
    margin: 0;
}

.spot3 :nth-child(2){
    font-size: 5rem;
    margin: 0;
}

.spot3 :nth-child(5){
    margin: 0;
    line-height: 1.5rem;
}



h3 {
    color: turquoise;
}

.hero h2 {
    color: midnightblue;
}

.events span {
    color: rgb(197, 200, 29);
}
.events p{
    line-height: 1.5;
}

/* FOOTER*/

footer {
    background-color: black;
    color: #EBFFFE;
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px 100px;
    
}

footer img {
    display: inline-block;
    /* margin-left: 150px; */
}

footer h2{
    margin-bottom: 2px;
}

footer p {
    margin-top: 0;
}

.foot-address {
    display: inline-block;
    grid-column: 2/3;
    align-self: center;
}

.contact {
    display: inline-block;
    grid-column: 3/4;
    align-self: center;
    text-align: center;
}

.copy {
    text-align: center;
    grid-column: 1/-1;
}

/* Discover page */

.discover {
    background: steelblue;
    margin-bottom: 20px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.discover img[src]{
    width: 300px;
    height: 400px;
}

.discover img {
    margin-bottom: 20px;
}

.discover h2 {
    text-decoration: underline;
}

.discover p {
    line-height: 1.5rem;
}

.discover .water {
    margin-bottom: 300px ;
}

.discover .cred {
    margin-bottom: 230px ;
}

.discover .prom {
    margin-bottom: 230px ;
    
}

.discover .nice {
  margin-bottom: 350px;
}

.discover .nice img {
    float: left;
    margin-right: 40px;
}

.discover .fish {
    padding-bottom: 300px;
}
.discover .fish img {
    float: right;
    margin-left: 40px;
}

/* .discover .prom p {
    display: inline;
    clear: right;
} */

.discover .cred img  {
    margin-right: 40px;
    float: left;
}

.discover .water img {
    margin-left: 40px;
    float: right;
}

.discover .water p {
    display: inline;
}

.discover .prom img  {
    margin-left: 40px;
    float: right;
}

.discover img.up {
    margin-top: 20px;
}

.discover img.up:hover {
    border-radius: 20px;
    padding: 5px;
    box-shadow: 5px 5px 10px #000;
    background-color: #fff;
    max-width: 290px;
    max-height: 390px;
}

.discover img.sec-down:hover {
    border-radius: 0px 50px;
    padding: 5px 5px 30px 5px;
    background-color: #666;
    box-shadow: 5px 5px 10px #000;
    max-width: 290px;
    max-height: 390px;
}

.discover img.sec-up:hover {
    border-radius: 20px 20px 0 0;
    padding: 5px;
    box-shadow: 5px 5px 10px #000;
    background-color: #fff;
    max-width: 290px;
    max-height: 390px;
}

.discover img.center:hover {
    border-radius: 200px;
    padding: 5px;
    box-shadow: 5px 5px 10px #000;
    background-color: #fff;
    max-width: 290px;
    max-height: 390px;
}

.discover img.down:hover {
    border-radius: 150px 20px;
    padding: 5px;
    box-shadow: 5px 5px 10px #000;
    background-color: #fff;
    max-width: 290px;
    max-height: 390px;
}

.discover p.record-visits {
    background-color: #333;
    color: #fff;
    text-align: center;
}

/*Good*/