@media only screen and (min-width: 32.5em) {

    header .logo {
        left: 3rem;
        top: .5rem;
    }

    header nav ul li {
        font-size: 1.2rem;
    }

    header .social {
        max-width: 10rem;
        right: 3rem;
        top: 1.5rem;
    }
    
    header .social img {
        max-width: 3rem;
        border-radius: 40px;
        margin: 0 5px;
    }

    .container .first {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 300px 250px 350px 250px 250px;
    }

    .container .first .news {
        grid-column: 1/-1;
        grid-row: 2/3;
        text-align: center;
        background-color: darkblue;
        color: #fff;
        margin: 0;
    }

    .container .first .news p {
        line-height: 2rem;
        font-size: 1rem;
        padding: 20px;
    }

    .container .first .hero {
        grid-column: 1/-1;
        grid-row: 1/2;
        text-align: center;
        background-color: rgb(3, 38, 43);
        color: #fff;
    }

    .container .first .spot {
        grid-column: 1/-1;
        grid-row: 3/4;
        flex-direction: row;
        padding: 20px;
    }

    .container .first .spot .spot1 {
        margin: 0;
        width: 100%;
        margin-right: 10px;
    }

    .container .first .spot .spot2 {
        margin: 0;
        width: 100%;
        margin-left: 10px;
    }

    .container .first .join {
        grid-column: 1/-1;
        display: block;
        grid-row: 4/5;
        padding: 20px;
        padding-right: 17px;
        text-align: center;
        margin: 0;
    }

    .container .first .join p {
        padding: 50px 0;
        line-height: 2rem;
    }

    .container .first .join .joinUsBtn {
        border: 1px solid darkblue;
        font-size: 1.5rem;
        width: 92%;
        height: 3rem;
        margin: 0 auto;
        background-color: rgba(13, 225, 225, 0.9);
        color: red;
        border-radius: 40px;
        cursor: pointer;
    }

    .container .first .join .joinUsBtn a {                
        font-size: 1.5rem;
        padding: 10px;
        font-weight: 600;
        text-decoration: none;
        display: block;
        border-radius: 40px;
    }

    .container .first .join .joinUsBtn:hover {
        background-color: rgb(65, 65, 223);
    }

    .container .first .join .joinUsBtn a:hover {
        color: rgba(13, 225, 225, 0.9);
    }

    .container .first .events {
        grid-column: 1/2;
        grid-row: 5/-1;
        text-align: center;
        background-color: darkblue;
        color: #fff;
        padding: 20px;
    }

    .container .first .weathers {
        grid-column: 2/-1;
        grid-row: 5/-1;
        background-color: darkblue;
        color: #fff;
        text-align: center;
    }

    main.discover div div {
        width: 300px;
        height: 400px;
        margin-bottom: 10px;
    }
    
    main.discover img {
        width: 250px;
        height: 350px;
        margin: 45px 25px;
    }

    main.discover .water img:hover {
        border: steelblue 1px solid;
        padding: 10px;
        border-radius: 50px;
        background-color: #EBFFFE;
        width: 230px;
        height: 330px;
    }

    main.discover .cred img:hover {
        border: steelblue 1px solid;
        padding: 10px;
        border-radius: 50px 0;
        background-color: #fff;
        width: 230px;
        height: 330px;
    }

    main.discover .prom img:hover {
        border: steelblue 1px solid;
        padding: 10px;
        padding-bottom: 20px;
        border-radius: 50px 50px 0 0;
        background-color: #fff;
        width: 230px;
        height: 320px;
    }

    main.discover .nice img:hover {
        border: steelblue 1px solid;
        padding: 10px;
        padding-bottom: 30px;
        border-radius: 200px;
        background-color: #fff;
        width: 230px;
        height: 310px;
    }

    main.discover .fish img:hover {
        border: steelblue 1px solid;
        padding: 10px;
        border-radius: 0 100px;
        background-color: #fff;
        width: 230px;
        height: 330px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px;
    }

    footer img {
        grid-column: 1/2;
        justify-self: end;
        margin-right: 20px;
    }

    footer .foot-address {
        grid-column: 2/3;
        text-align: start;
    }

    footer .contact {
        grid-column: 3/-1;
        border-bottom: none;
        text-align: start;
        margin-left: 20px;
    }

    footer .contact p:nth-child(1) {
        margin-top: 0;
    }

    footer .weather-data {
        grid-column: 1/-1;
    }

    footer .copy {
        grid-column: 1/-1;
    }

    
    main.discover h2 {
        font-size: 1.5rem;
    }
    
    main.discover p {
        font-size: .9rem;
        line-height: 1.5rem;
    }
    
    .container .first .join {
        background-color: darkblue;
        color: #EBFFFE;
        padding: 20px;
    }

    .join .about div p {
        font-size: .9rem;
    }
    
    .join .about div h3 {
        font-size: 1.4rem;
    }

    .directory .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .directory .cards section {
        width: 250px;
        height: 350px;
    }

    .directory .cards section:nth-child(3) {
        max-width: 250px;
        height: 350px;

    }

    .directory .list section h3 {
        font-size: 1.2rem;
        flex-basis: 16rem;
    }

    .directory .list section p:nth-child(4) {
        display: block;
        align-self: center;
        flex-basis: 10rem;
        font-size: .9rem;

    }
    
    .directory .list section a {
        font-size: .9rem;
        flex-basis: 4rem;
    }

    .directory .list section p:nth-child(6) {
        border: 1px solid #fff;
        flex-basis: 10rem;
        text-align: center;
        margin-left: 15px;
        padding: .4rem .2rem;
        border-radius: 20px;
        background-color: gold;
        color: rgb(3, 38, 43);
    }

    main.thankYou div img {
        width: 400px;
        height: 400px;
        border-radius: 300px;
    }

    .contact-us img.img1 {
        width: 400px;
        height: 400px;
    }

    .contact-us h2 {
        font-size: 1.6rem;
    }

    .contact-us h3 {
        font-size: 1.5rem;
    }

    .contact-us h4 {
        font-size: 1.3rem;
    }

    .contact-us p {
        font-size: 1.2rem;
    }

    .contact-us .rich {
        width: 150px;
        border-radius: 80px;
    }

    .contact-us form .come input[type="submit"] {
        padding: .6rem 0;
        font-size: 1.4rem;
    }
}