@media only screen and (max-width: 60em) {

    .container {
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
    }

    body p {
        font-size: .9rem;
    }
    
    /* =====HEADER===== */
    
    header {
        background-color: #000;
        color: #EBFFFE;
        position: relative;
    }

    header nav {
        position: absolute;
        left: .5rem;
        top: 5.5rem;
    }
    
    header nav ul#pryNav {
        display: none;
    }
    
    header button {
        display: block;
        background-color: transparent;
        color: #EBFFFE;
        font-size: 2rem;
        border: 1px solid #888;
        padding: .2rem .3rem;
        cursor: pointer;
    }

    header button :nth-child(2){
        display: none;
    }

    header nav ul.menu {
        display: block;
        border-top: 1px solid #999;
        width: 90vw;
        background: #000;
        filter: alpha(opacity=20); 
        position: absolute;
        top: 6.4rem;
        left: 0;
        z-index: 2;
    }

    header nav ul.menu li {
        text-align: center;
        padding: .4rem 0;
        border-bottom: 1px solid #999;
    }

    header nav ul.menu a {
        font-size: 1rem;
    }
    
    .logo {
        display: inline-block;
        width: fit-content;
        padding: 1.25rem;
        position: relative;
        top: 1.8rem;
        left: 4.5rem;
    }

    .logo img {
        max-width: 40%;
    }

    h1 {
        font-size: 1.2rem;
        align-self: center;
        margin-left: 5px;
    }

    .logo img {
        width: 150px;
    }
    
    .social {
        position: absolute;
        top: 4.5rem;
        right: 1rem;
        margin: 0;
    }
    
    .social img {
        border-radius: 50px;
        width: 3.25rem;
        margin: 10px;
    }

    /* ====BODY====*/

    .first{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: 300px 250px 280px 250px 300px;
    }

    .hero {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    .hero button:hover {
        right: 42px;
        bottom: 42px;
    }

    .news {
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .spot {
        grid-column: 1/-1;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .spot1 :nth-child(2){
        font-size: 3rem;
        text-align: center;
        margin: 0;
    }

    .spot2 :nth-child(2) {
        font-size: 3rem;
        margin: 0;
    }

    .spot2 :nth-child(3) {
        margin-top: 2px;
    }

    .spot3 {
        display: none;
    }

    .join {
        grid-column: 1/-1;
        grid-row: 4/5;
    }

    .join p {
        padding: 30px;
    }

    .join button {
        width: 90%;
        padding: 15px;
        margin: 0 auto;
       
    }

    .join button:hover {
        padding: 15px;
        top: 1rem;
        background-color: darkolivegreen;
        color: #EBFFFE;
    }
    

    .events {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .events h3 {
        margin-bottom: 0;
    }

    .events p {
        margin-top: 0;
    }

    .events h4 {
        margin: 0;
    }

    .weathers {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .weathers div.openWeather .temperature {
        margin: 0 auto;
    }

    .weathers div.openWeather div.temperature{
        display: flex;
        padding-left: .1rem;
        padding-right: .2rem;
    }
    
    .weathers div.openWeather div.temperature img{
        width: 30%;
        height: 3rem;
    }
    
    .weathers div.openWeather div.temperature .temp {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    
    .weathers div.openWeather .condition {
        text-align: right;
        border-bottom: 1px solid #EBFFFE;
    }
    
    .weathers div.openWeather .wind-factor {
        display: flex;
        flex-direction: column;
        
    }
    
    .weathers div.openWeather .wind-factor .speed {
        display: flex;
        justify-content: space-between;
        font-size: .8rem;
    }
    
    .weathers div.openWeather .wind-factor .speed span:nth-child(1) {
        flex-basis: 8rem;
        text-align: end;
    }
    
    .weathers div.openWeather .wind-factor .speed span:nth-child(2) {
        margin: 0 .3rem;
        text-align: start;
        flex-basis: 8rem;
    }

    /*=====FOOTER=====*/

    footer {
        grid-gap: 10px;
        padding: 10px 50px;
        grid-template-columns: 150px repeat(2, 1fr);
    }

    footer img {
        width: 150px;
    }

    .foot-address h2 {
        padding-bottom: 10px;

        font-size: 1.5rem;
    }

    .foot-address p {
        line-height: 1.2;
        font-size: .8rem;
    }

    .contact {
        padding-right: 10px;
        font-size: .8rem;
    }

    .copy{
        font-size: .8rem;
    }

    .discover {
        text-align: center;
    }

    .discover .water img {
        margin: 0 auto;
    }

    .discover .water {
        display: grid;
        margin-bottom: 50px;
    }

    .discover .cred {
        display: grid;
        margin-bottom: 50px;
    }

    .discover .cred img {
        margin: 0 auto;
    }

    .discover .prom {
        display: grid;
        margin-bottom: 50px;
    }

    .discover .prom img {
        margin: 0 auto;
    }

    .discover .nice {
        display: grid;
        margin-bottom: 50px;
    }

    .discover .nice img {
        margin: 0 auto;
    }

    .discover .fish {
        display: grid;
        padding-bottom: 50px;
    }

    .discover .fish img {
        margin: 0 auto;
    }

    .discover .fish img:hover {
        max-width: 190px;
        max-height: 270px;  
    }

    .discover img {
        max-width: 200px;
        max-height: 280px;
    }

    .discover p {
        font-size: .8rem;
        margin: 0;
    }

    .discover h2 {
        font-size: 1.2rem;
    }

    .discover .fish img:hover {
        max-width: 190px;
        max-height: 270px;  
    }

    .discover .water img:hover {
        max-width: 190px;
        max-height: 270px;  
    }

    .discover .nice img:hover {
        max-width: 190px;
        max-height: 270px;  
    }

    .discover .prom img:hover {
        max-width: 190px;
        max-height: 270px;  
    }

    .discover .cred img:hover {
        max-width: 190px;
        max-height: 270px;  
    }

    main.thankYou h1 {
        font-size: 3rem;
    }
    
    main.thankYou p {
        font-size: 1.2rem;
    }

    
    main.join {
        display: block;
    }

    .join .about h4 {
        display: block;
        border: 2px dashed rgb(255, 0, 0);
        width: fit-content;
        padding: .2rem;
        font-size: 1.5rem;
        color: rgb(255, 0, 0);
        background-color: rgba(110, 37, 212, 0.549);
    }

    .join .join-page, .join .about {
        width: 90%;
        margin: 1rem auto;
    }
    
    form .entry {
        display: block;
    }
    
    form .entry label {
        display: block;
    }
    
    form .entry input, form .entry textarea {
        width: 100%;
        max-width: 95%;
        background-color: rgb(188, 242, 242);
    }
    
    form .entry .joBtn {
        width: 70%;
    }

    main.directory button {
        width: 10rem;
        padding: 10px 0;
        margin: 0 30px;
    }
    
    main.directory button:hover {
        background-color: #222;
        width: 10.5rem;
        margin: 0 26px;
    }
    
    main.directory div.btn {
        padding: .3rem;
    }

    main.directory article.cards {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
        width: 90%;
        margin: 10px auto;
    }

    main.directory article.list section h3 {
        font-size: 1rem;
    }

    main.directory article.list section {
        padding: .3rem .8rem;
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;
        background-color: #012536;
        box-shadow: 5px 5px 10px #000;
        width: 90%;
    }

    main.directory article.list section {
        width: 90%;
    }

    main.directory article.list section h3 {
        flex-basis: 40%;
    }
    
    main.directory article.list section p {
        flex-basis: 20%;
        color: #fff;
        font-size: .7rem;
        padding-top: 7px;
    }
    
    main.directory article.list section a {
        padding-top: 17px;
        color: aqua;
        flex-basis: 20%;
        font-size: .7rem;
    }
}

/*Good*/


/* form div.rad input[type="radio"]:checked{
    color: blue;
} */